<div class="container-fluid">
    {{!-- HEADER --}}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 id="header" class="display-4 text-center">Eat Dat Burger!</h1>
            
            <img class="burger-image" src="http://www.pngmart.com/files/5/Hamburger-PNG-Pic.png">
                
        </div>
    </div>
    <div class="row">
        {{!-- ADD A NEW BURGER --}}
        <div class="col-4">
            <div class="card">

                <div class="card-header">
                    <h2 class="card-title">Add A New Burger</h2>
                </div>
                <div class="card-body">

                    <form action="/api/burgers?_method=POST" method="POST">

                        

                        <input type="text" class="form-control" id="name" name="burger_name"
                            placeholder="New Burger Name" aria-label="Example text with button addon"
                            aria-describedby="button-addon1">
                            <button class="btn btn-warning btn-block" type="submit">Add</button>
                    </form>

                </div>

            </div>
        </div>
        {{!-- BURGERS TO EAT --}}
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">Ready To Eat</h2>
                </div>
                <div id="ready-burger" class="card-body text-left">
                    {{#each burgers}}
                    {{#unless this.devoured}}
                    <form action="/api/burgers/{{this.id}}?_method=PUT" method="POST">
                        {{this.burger_name}}
                        <button type="submit" id="eat" class="btn btn-warning">EAT ME!</button>
                    </form>

                    {{/unless}}
                    {{/each}}
                </div>
            </div>
        </div>
        {{!-- DEVOURED BURGERS --}}
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">
                        Devoured
                    </h2>
                </div>
                <div class="card-body text-center">
                    {{#each burgers}}
                    {{#if devoured}}
                    <ul class="list-unstyled">
                        {{!-- {{#each burgers}} --}}
                        {{!-- {{#if devoured}} --}}
                        {{this.burger_name}}
                        {{!-- {{>burgers/buger-block}} --}}
                        {{!-- {{/if}}
                        {{/each}} --}}
                    </ul>
                    {{/if}}
                    {{/each}}
                </div>

            </div>
        </div>
    </div>
    <!----row------>
</div>
<!---container---->