<div class="container-fluid">
    {{!-- HEADER --}}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 text-center">Eat Da Burger!</h1>
            <img src="https://img.pngio.com/free-download-hamburger-cheeseburger-hot-dog-veggie-burger-cartoon-burger-cartoon-png-260_220.jpg"
                alt="Free download Hamburger Cheeseburger Hot dog Veggie burger Cartoon ...">
        </div>
    </div>
    <div class="row">
        {{!-- ADD A NEW BURGER --}}
        <div class="col-4">
            <div class="card">

                <div class="card-header">
                    <h2 class="card-title">Add A New Burger</h2>
                </div>
                <div class="card-body">

                    <form action="/api/burgers?_method=POST" method="POST">

                        <button class="btn btn-outline-secondary" type="submit">Add</button>

                        <input type="text" class="form-control" id="name" name="burger_name"
                            placeholder="New Burger Name" aria-label="Example text with button addon"
                            aria-describedby="button-addon1">
                    </form>

                </div>

            </div>
        </div>
        {{!-- BURGERS TO EAT --}}
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">Ready To Eat</h2>
                </div>
                <div class="card-body">
                    {{#each burgers}}
                    {{#unless this.devoured}}
                    <form action="/api/burgers/{{this.id}}?_method=PUT" method="POST">
                        {{this.burger_name}}
                        <button type="submit" class="btn btn-warning">EAT ME!</button>
                    </form>

                    {{/unless}}
                    {{/each}}
                </div>
            </div>
        </div>
        {{!-- DEVOURED BURGERS --}}
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">
                        Devoured
                    </h2>
                </div>
                <div class="card-body">
                    {{#each burgers}}
                    {{#if devoured}}
                    <ul class="list-unstyled">
                        {{!-- {{#each burgers}} --}}
                        {{!-- {{#if devoured}} --}}
                        {{this.burger_name}}
                        {{!-- {{>burgers/buger-block}} --}}
                        {{!-- {{/if}}
                        {{/each}} --}}
                    </ul>
                    {{/if}}
                    {{/each}}
                </div>

            </div>
        </div>
    </div>
    <!----row------>
</div>
<!---container---->