
html, body {
    min-height: 100%;
    background-color: #A3320B;
}
#body {
    background-color: #A3320B;
}
.burger-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

#header {
    background-color: #241023;
}
#header-text {
  font-family: 'Fugaz One', cursive;
  text-align: center;
  color: #A3320B;
}

#card-header {
   background-color: #ECA72C;
}
.card-title {
  font-family: 'Fugaz One', cursive;
  text-align: center;
  color: #241023;
  background-color: #ECA72C;
}

.card-body {
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
}

#eat {
  margin-right: 10px;
  float: right;
}

#ready-burger {
  margin-left: 10px;
}
